{% block title %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Блог Школы для Ёжиков</title>
</head>
<body>
    <nav>
        <a href="/">Главная</a>
        <a href="/home">Блог</a>
    </nav>

{% endblock %}


{% block content %}


{% endblock %}


{% block footer %}

    <footer>
        <p><strong>Email:</strong> hedgehogschool@example.com</p>
        <p><strong>Социальные сети:</strong></p>
        <ul>
            <li><a href="#">ВКонтакте</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
    </footer>
</body>
</html>

{% endblock %}
