{% extends 'base.html' %}


{% block content %}

    <div class="container">
        <h1>Блог Школы для Ёжиков</h1>
        <ul>
            <li><a href="#">5 причин, почему ёжикам нужно учиться</a></li>
            <li><a href="#">Как выбрать правильные иголки для зимы</a></li>
            <li><a href="#">Истории успеха выпускников нашей школы</a></li>
            <li><a href="#">Как научить ёжика доверять людям</a></li>
            <li><a href="#">Зачем ёжику умение кататься на роликах?</a></li>
        </ul>
    </div>

{% endblock %}
