{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1>Добро пожаловать в Школу для Ёжиков!</h1>
        <p>Наша школа – это уникальное место, где каждый ёжик найдет себя. Мы помогаем ёжикам развивать навыки, учиться новому и находить друзей.</p>
        <p><strong>Наши основные направления:</strong></p>
        <ul>
            <li>Основы безопасности на дороге</li>
            <li>Как правильно прятаться</li>
            <li>Искусство скручивания в клубок</li>
            <li>Уроки социальной адаптации для ёжиков</li>
        </ul>
        <p>Присоединяйтесь к нам, и ваш ёжик станет настоящим профессионалом!</p>
    </div>

{% endblock %}
